@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  color: white;

}

.navbar-font {
  font-family: 'Star Wars', sans-serif;
  color: white;
  font-size: 1.5em;
}

.navbar-font:hover {
  color: #ffe81f;
}

.title-font {
  font-family: 'Star Wars', sans-serif;
  color: white;
  font-size: 2.5em;
}

.button-font {
  font-family: 'Star Wars', sans-serif;
  color: #ffe81f;
  font-size: 1em;
}

.film-single h1 {
  font-size: 30px;
  color: #fff;
  font-family: 'Star Wars', sans-serif;
}

.film-single h2 {
  font-size: 18px;
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
}

.film-single span {
  color: #ffe81f;
}

/* Animation properties */
.star {
  animation: star 10s ease-out;
}
.wars {
  animation: wars 10s ease-out;
}
.byline span {
  animation: spin-letters 10s linear;
}
.byline {
  animation: move-byline 10s linear;
}
.hidden {
  visibility: hidden;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}



.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2em;
  left: -2em;
  letter-spacing: 0.2em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}
